*{
    margin: 0;
    padding: 0;
}

/* .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
} */

/* media queries */

/* mobile */
@media(max-width : 480px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: -423px;
    } 
}

/* extra small devices */
@media(min-width : 481px) and (max-width : 767px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: -423px;
    }
} 

/* Small tablets */
@media(min-width : 768px) and (max-width : 991px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: -200px;
    }
}

/* Large tablet/laptops */
@media(min-width : 992px) and (max-width : 1420px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: 0px;
    }
} 

/* Desktops */
@media(min-width : 1421px) and (max-width : 1919px){
    .back-video{
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: auto;
    }
}

/* Extra large screens */
@media(min-width : 1920px){
    .back-video{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}

