*{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    margin-left: auto;
    /* padding-right: 50px; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar{
    margin-left: auto;
    padding-right: 80px;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

button{
    border-radius: 100px;
}
.login{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: 0.5s;
    padding: 10px 25px;
}

.login:hover{
    letter-spacing: 0.25em;
    color: var(--clr);
    background-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.login::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;

}
.login span{
    position: relative;
    z-index: 1; 
}

.login i{
    position: absolute;
    inset: 0;
    display: block;
}

.login i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.login:hover i::before{
    width: 20px;
    left: 20%;
}

.login i{
    position: absolute;
    inset: 0;
    display: block;
}

.login i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.login:hover i::after{
    width: 20px;
    left: 80%;
}

button{
    margin-right: 10px;
}

/* media queries */
img{
    width: 100px;
    height: auto;
    filter: brightness(0.7);
}
/* mobile */
@media(max-width : 480px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        z-index: -1;
        left: -423px;
    } 
}

/* extra small devices */
@media(min-width : 481px) and (max-width : 767px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: -423px;
        z-index: -1;
    }
} 

/* Small tablets */
@media(min-width : 768px) and (max-width : 991px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: -200px;
        z-index: -1;
    }
}

/* Large tablet/laptops */
@media(min-width : 992px) and (max-width : 1420px){
    .back-video{
        position: fixed;
        width: auto;
        height: 100%;
        left: 0px;
        z-index: -1;
    }
} 

/* Desktops */
@media(min-width : 1421px) and (max-width : 1919px){
    .back-video{
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: auto;
    }
}

/* Extra large screens */
@media(min-width : 1920px){
    .back-video{
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}

